@{
    ViewBag.Title = "Xóa loại hàng";
}
@model Category
<div class="box box-danger">
    <div class="box-body">
        <form action="~/Category/Delete/@Model.CategoryID" method="post">
            <div class="form-group">
                <label>Tên loại hàng:</label>
                <p class="form-control-static">@Model.CategoryName</p>
            </div>

            <div class="form-group">
                <label>Mô tả:</label>
                <p class="form-control-static">@Model.Description</p>
            </div>

            <div class="form-group text-right">
                @if (!(await SV22T1080053.BussinessLayers.CommonDataService.CategoryDB.InUsedAsync(Model.CategoryID)))
                {
                    <div class="alert alert-danger">
                        <strong>Cảnh báo!</strong> Loại Hàng  này không thể phục hồi sau khi xóa.
                    </div>
                }
                else
                {
                    <div class="alert alert-warning">
                        <strong>Cảnh báo!</strong> Loại Hàng này đang được sử dụng. Không thể xóa.
                    </div>
                }
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    Xóa dữ liệu
                </button>
                <a href="~/Category" class="btn btn-default">
                    Quay lại
                </a>
            </div>

        </form>

    </div>
</div>

