<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Bản quyền &copy; 2025-2026, đăng ký bởi <a href="#">NDE Coporation</a>
</footer>