@{
    ViewBag.Title = "Xóa người giao hàng";
}
@model Shipper
<div class="box box-danger">
    <div class="box-body">
        <form action="~/Shipper/Delete/@Model.ShipperID" method="post">
            <div class="form-group">
                <label>Tên người giao hàng:</label>
                <p class="form-control-static">@Model.ShipperName</p>
            </div>

            <div class="form-group">
                <label>Điện thoại:</label>
                <p class="form-control-static">@Model.Phone</p>
            </div>

            <div class="form-group text-right">
                @if (!(await SV22T1080053.BussinessLayers.CommonDataService.ShipperDB.InUseAsync(Model.ShipperID)))
                {
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                        Xóa dữ liệu
                    </button>
                }
                else
                {
                    <div class="alert alert-danger text-center mt-3" role="alert">
                        <i class="fa fa-exclamation-triangle me-2"></i>
                        Không xóa được người giao hàng đang có giao dịch
                    </div>
                }
                <div class="text-center">
                    <a href="~/Shipper" class="btn btn-secondary">
                        <i class="fa fa-arrow-left me-1"></i> Quay lại
                    </a>
                </div>
            </div>

        </form>

    </div>
</div>
