@{
    ViewBag.Title = "Quản lý Người giao hàng";
}
@model paginationSearchCondition

<div class="box box-primary">
    <div class="box-body">
        <!-- Form nhập đầu vào tìm kiếm -->
        <form id="formSearch" action="~/Shipper/Search" method="get" data-result="#searchResult">
            <div class="input-group">
                <input name="searchValue" type="text" class="form-control"
                       placeholder="Nhập tên người giao hàng cần tìm"
                       autofocus
                       value="@Model.SearchValue" />

                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                    <a href="~/Shipper/Create" class="btn btn-primary" style="margin-left:5px">
                        <i class="fa fa-plus"></i> Bổ sung
                    </a>
                </div>
            </div>
        </form>

        <div id="searchResult"></div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function(){
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                searchData(1);
            });
            searchData(@Model.Page);
        })

        //Gởi yêu cầu đến Search để lấy dữ liệu tại trang page, hiển thị dữ liệu vào #searchResult
        function searchData(page) {

            var url = $("#formSearch").prop("action");
            var method = $("#formSearch").prop("method");
            var container = $("#formSearch").data("result");
            var submitData = $("#formSearch").serializeArray();
            submitData.push({ "name":"page", "value": page });

            $.ajax({
                url: url,
                method: method,
                data: submitData,
                success: function (data) {
                    $(container).html(data);
                }
            });
        }
    </script>
}